[submodule "themes/tp2"]
	path = themes/tp2
	url = https://github.com/GabriellePelletier/4w4-intra
[submodule "plugins/carrousel"]
	path = plugins/carrousel
	url = https://github.com/GabriellePelletier/carrousel-2024
